<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinebook">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CineBook">

        <!-- Welcome Screen Activity -->
        <activity
            android:name=".screens.WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Sign In Activity -->
        <activity
            android:name=".signin.SignInActivity"
            android:exported="true" />

        <!-- Signup Activities -->
        <activity
            android:name=".signup.SignupPageOne"
            android:exported="true" />
        <activity
            android:name=".signup.SignUpPageTwo"
            android:exported="true" />
        <activity
            android:name=".signup.SignupPageThree"
            android:exported="true" />
        <activity
            android:name="MainActivity"
            android:exported="true" />
        <!-- Home Screen Activity -->
        <activity
            android:name=".screens.HomeScreen"
            android:exported="true" />

        <!-- Reset Password Activities -->
        <activity
            android:name=".resetpassword.ResetPasswordFirst"
            android:exported="true" />
        <activity
            android:name=".resetpassword.ResetPasswordTwo"
            android:exported="true" />

        <!-- Movie Detail Activity -->
        <activity
            android:name=".moviedetails.MovieDetail"
            android:exported="true" />
        <activity
            android:name=".moviedetails.MovieDetailActivity"
            android:exported="true" />

        <!-- Search Activity -->
        <activity
            android:name=".screens.SearchActivity"
            android:exported="true" />

        <activity android:name="FiestBookingTicketFlow"
            android:exported="true"
            />
        <activity android:name="com.example.cinebook.bookingflow.FiestBookingTicketFlow" />

    </application>


</manifest>