<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cinebook">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="31" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="31" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CineBook">

        <!-- Loading Screen Activity (New Entry Point) -->
        <activity
            android:name=".screens.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Screen Activity -->
        <activity
            android:name=".screens.WelcomeScreen"
            android:exported="true" />

        <!-- Sign In Activity -->
        <activity
            android:name=".signin.SignInActivity"
            android:exported="true" />

        <!-- Signup Activities -->
        <activity
            android:name=".signup.SignupPageOne"
            android:exported="true" />
        <activity
            android:name=".signup.SignUpPageTwo"
            android:exported="true" />
        <activity
            android:name=".signup.SignupPageThree"
            android:exported="true" />
        <activity android:name="com.example.profile.Language" />

        <!-- Home Screen Activity -->
        <activity
            android:name=".screens.HomeScreen"
            android:exported="true" />

        <!-- Reset Password Activities -->
        <activity
            android:name=".resetpassword.ResetPasswordFirst"
            android:exported="true" />
        <activity
            android:name=".resetpassword.ResetPasswordTwo"
            android:exported="true" />

        <!-- Movie Detail Activities -->
        <activity
            android:name=".moviedetails.MovieDetail"
            android:exported="true" />
        <activity
            android:name=".moviedetails.MovieDetailActivity"
            android:exported="true" />

        <!-- Booking Flow Activities -->
        <activity
            android:name=".bookingflow.OrderSummaryActivity"
            android:exported="true" />
        <activity android:name="com.example.profile.Help" />
        <activity android:name="com.example.profile.Terms" />
        <activity android:name="com.example.profile.Privacy" />
        <activity
            android:name=".bookingflow.MovieTicketActivity"
            android:exported="false" />
        <activity
            android:name=".bookingflow.TheaterActivity"
            android:exported="false" />
        <activity
            android:name=".bookingflow.FiestBookingTicketFlow"
            android:exported="false" />
        <activity
            android:name=".bookingflow.BookingConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".bookingflow.ProfileActivity"
            android:exported="false" />
        <activity android:name="com.example.profile.Payment" />
        <activity android:name="com.example.profile.Notification" />

        <!-- Search Activity -->
        <activity
            android:name=".screens.SearchActivity"
            android:exported="true" />

        <activity
            android:name="com.example.profile.Account"
            android:exported="true" />

        <!-- Main Activity (if still needed, otherwise remove) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name="com.example.profile.Security" />

        <!-- FileProvider for camera image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cinebook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>